*resharper.user
# Visual Studio
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.sln.cache
*.suo
*.csproj.user
*.user
*.[Cc]ache
*.DS_Store
*.bak
*.ncb
*.log 
[Tt]humbs.db 
Ankh.NoLoad

# Resharper
*[Rr]e[Ss]harper.user
_ReSharper.*/
